<div class="container mt-4 fuente-1">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Historial de Préstamos</h2>
    <button class="btn btn-primary" (click)="addLoan()">Solicitar préstamo</button>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr class="align-middle">
        <th>#</th>
        <th>Tipo de Préstamo</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (loan of loans(); let i = $index; track loan.uid) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ loan.tipoPrestamo }}</td>
        <td>{{ loan.monto | number:'1.2-2' }}</td>
        <td>{{ loan.fecha | date:'dd/MM/yyyy' }}</td>
        <td class="text-nowrap">
          <button class="btn btn-sm btn-info me-2" (click)="viewLoanDetails(loan.uid)">Ver Detalle</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="goBack()">Volver</button>
  @if(loading) {
  <div class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  }
</div>
